<section class="contato">
    <ul>
        <li>
            <strong>{{ nome }}</strong>
        </li>
        <li>
            <strong>{{ telefone }}</strong>
        </li>
        <li>
            <button [routerLink]="['/formulario', id]">
                <img src="/assets/pencil-square.png" alt="alteração" />
            </button>
            <button [routerLink]="['/perfil-contato', id]">
                <img src="/assets/trash.png" alt="exclusão" />
            </button>
        </li>
    </ul>
</section>
